body {
	padding-top: 3.5rem;
}

h1 {
	padding-bottom: 1rem;
	border-bottom: 1px solid #dee2e6;
	font-weight: 300;
}
h2, h3 {
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
}
h2+h3 {
	margin-top: 1rem;
}

blockquote {
	border-left: 1px solid #ccc;
	padding: .5rem 1rem;
}

dl>td {
	font-weight: 500;
}
dl>dd {
	margin-left: 1rem;
	font-style: italic;
}

.navbar .navbar-nav .nav-link {
	color: #519ed4;
}

.link-dark { color: #343a40; }
.link-muted { color: #6c757d; }
.link-dark:hover,
.link-muted:hover {
	color: #0056b3;
	text-decoration: none;
}

.search input:focus,
.search input:active,
#tag-select:focus,
#tag-select:active {
	box-shadow: none;
}

.search button.close {
	position: absolute;
	right: 5px;
	top: 0;
	bottom: 0;
	width: 2rem;
}
.search button.close>span {
	display: inline-block;
	padding-bottom: 3px;
}

.blog { list-style: none; padding-left: 0; }
.blog .blog-item { margin-bottom: 1.5em; }
.blog .blog-item:last-child { margin-bottom: 0; }
.blog h3 { margin-bottom: 0; }

.search h3 { margin-bottom: 0; }

#post-toc {
	list-style: none;
	padding-left: 0;
	margin-bottom: 3rem;
}

/* Landing */

.landing-header {
	margin-bottom: 2.5rem;
}

.landing-header h1 {
	border: 0;
}

.landing-block {
	position: relative;
	border-top: thin solid #519ed4;
	margin-bottom: 2.5rem;
}

.landing-block::before {
	display: block;
	position: absolute;
	content: "";
	width: 2rem;
	height: 2rem;
	left: 50%;
	top: -1rem;
	margin-left: -1rem;
	border-width: 0 thin thin 0;
	border-style: solid;
	border-color: #519ed4;
	transform: rotate(45deg);
	background-color: #fff;
}

.landing-block>div {
	margin-left: auto;
}

.landing-block ul {
	list-style: none;
	padding-left: 0;
}

.landing-block ul>li {
	padding-bottom: .5em;
}

.landing-block ul>li::before {
	content: "\26A1";
	font-size: .5em;
	padding-right: .5em;
	position: relative;
	top: -.3em;
}

/* Spinner */

.loading { position: relative; left: 50%; }
.loading:after { content: ""; display: table; clear: both; }
.loading>* { position: absolute; padding: 5px; border-radius: 50%; background-color: #519ed4; -webkit-animation: animIn 1s ease-in-out 0s infinite; animation:
animIn 1s ease-in-out 0s infinite; }
.loading>*:nth-child(1) { -webkit-animation-delay: 0s; animation-delay: 0s; }
.loading>*:nth-child(2) { -webkit-animation-delay: 0.15s; animation-delay: 0.15s; }
.loading>*:nth-child(3) { -webkit-animation-delay: 0.3s; animation-delay: 0.3s; }
.loading>*:nth-child(4) { -webkit-animation-delay: 0.45s; animation-delay: 0.45s; }
@-webkit-keyframes animIn {
	0% { -webkit-transform: translateX(-50px); transform: translateX(-50px); opacity: 0; }
	50% { opacity: 1; }
	100% { -webkit-transform: translateX(50px); transform: translateX(50px); opacity: 0; }
}
@keyframes animIn {
	0% { -webkit-transform: translateX(-50px); transform: translateX(-50px); opacity: 0; }
	50% { opacity: 1; }
	100% { -webkit-transform: translateX(50px); transform: translateX(50px); opacity: 0; }
}

/* Rouge highlight */


div.highlight {
	overflow: hidden;
}

pre.highlight {
	border: solid 1px #ccc;
	background-color: #fdfdfd;
	font-size: 1rem;
	padding: 0 1rem;
	border-left: 10px solid #ccc;
	overflow: auto;
}

[class*="language-"] pre.highlight {
	border-left: 10px solid #358ccb;
	background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-size: 3em 3em;
	background-origin: content-box;
}

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .ch { color: #999988; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .cpf { color: #999988; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #bb8844 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #999999 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #009999 } /* Literal.Number.Bin */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sa { color: #bb8844 } /* Literal.String.Affix */
.highlight .sb { color: #bb8844 } /* Literal.String.Backtick */
.highlight .sc { color: #bb8844 } /* Literal.String.Char */
.highlight .dl { color: #bb8844 } /* Literal.String.Delimiter */
.highlight .sd { color: #bb8844 } /* Literal.String.Doc */
.highlight .s2 { color: #bb8844 } /* Literal.String.Double */
.highlight .se { color: #bb8844 } /* Literal.String.Escape */
.highlight .sh { color: #bb8844 } /* Literal.String.Heredoc */
.highlight .si { color: #bb8844 } /* Literal.String.Interpol */
.highlight .sx { color: #bb8844 } /* Literal.String.Other */
.highlight .sr { color: #808000 } /* Literal.String.Regex */
.highlight .s1 { color: #bb8844 } /* Literal.String.Single */
.highlight .ss { color: #bb8844 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #990000; font-weight: bold } /* Name.Function.Magic */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .vm { color: #008080 } /* Name.Variable.Magic */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
